<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ascending Order</p>
    <p>Greenwitch Timezone</p>
    <ul>
        {% for items in data %}
            <li> {{ items.name }} : {{ items.timestamp }} : {{ items.comment }}</li>
        {% endfor %}
    </ul>
    <p><a href="/formpage">PLEASE GO TO OUR FORM</a></p>
</body>
</html>